@{
    ViewData["Title"] = "Home Page";
}
@model Sudoku.IBoard

<style>
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    table {
        margin: 1em auto;
    }

    td {
        height: 30px;
        width: 30px;
        border: 1px solid;
        text-align: center;
    }

        td:first-child {
            border-left: solid;
        }

        td:nth-child(3n) {
            border-right: solid;
        }

    tr:first-child {
        border-top: solid;
    }

    tr:nth-child(3n) td {
        border-bottom: solid;
    }
</style>

<script src="js/prefixfree.min.js"></script>
<div style="height:10px;">&nbsp;</div>
<form asp-action="SolveFromGrid" method="post" role="form" id="solvegridform">
    <board board="@Model" editable="true"></board>
    <br/>
    <input type="submit" name="submitnewboardfromgrid" class="btn" value="Solve" />
    <input type="button" name="cleargrid" class="btn" value="Clear" onclick="$('#solvegridform :text').each(function (i, t) { t.value = 0 })" />
</form>
<br />
- or -
<br />
<form asp-action="Solve" method="post" role="form">
    <label for="newboard">Enter a board to solve:</label>
    <input type="text" name="newboard" class="input form-control boardinput" maxlength="81" value="8..3......9.....7...3584...4...9...2...4.7...78...1..5..96...2.....5..31........6" />
    <input type="submit" name="submitnewboard" class="btn" value="Solve" />
</form>

