@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
@model Sudoku.MoveResult

<style>
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    table {
        
    }

    td {
        height: 30px;
        width: 30px;
        border: 1px solid;
        text-align: center;
    }

        td:first-child {
            border-left: solid;
        }

        td:nth-child(3n) {
            border-right: solid;
        }

    tr:first-child {
        border-top: solid;
    }

    tr:nth-child(3n) td {
        border-bottom: solid;
    }
</style>

<script src="js/prefixfree.min.js"></script>
<div style="height:10px">&nbsp;</div>
<move-result MoveResult="@Model"></move-result>